.git
.turbo
.pnpm-store
**/.pnpm-store

node_modules
**/node_modules

dist
**/dist

.next
**/.next

coverage
**/coverage

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
