node_modules
.pnpm-store
.turbo
.env
.env.local
.env.*
!.env.example
!infra/docker/.env.sample
.next
.next-docker
.next.bak-*
out
dist
build
coverage
logs
.prisma
.pnp.*
.DS_Store
.idea
.husky/_
__pycache__/
*.pyc
*.tsbuildinfo
external/
